#dir

locales/
pnacl/
swiftshader/
setup/app/
setup/output/

#files

chromedriver.exe
credits.html
d3dcompiler_47.dll
ffmpeg.dll
icudtl.dat
launcher.exe
libEGL.dll
libGLESv2.dll
nacl64.exe
nacl_irt_x86_32.nexe
nacl_irt_x86_64.nexe
natives_blob.bin
node.dll
notification_helper.exe
nw.dll
nwjc.exe
nw_100_percent.pak
nw_200_percent.pak
nw_elf.dll
payload.exe
resources.pak
swiftshader
v8_context_snapshot.bin