<!doctype html>
<html class="noselect">
<head>
  <meta charset="utf-8"/>
  <meta name="author" content="Beaumont Anthony">  
  <link rel="stylesheet" href="../resources/css/normalize.css" type="text/css"/>
  <link rel="stylesheet" href="../resources/css/updater.css" type="text/css"/>
</head>
  <body>
    <main>
        <div id="logo"></div>
        <div id="version"></div>
        
     <div id="status"> 
        
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

        <div class="loadingBar" data-percent="0" data-speed="null">
          <span class="meter blue"></span>
        </div>
        
     </div>    
    </main>

<script src="../ui/lib/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="../ui/lib/alterClass.js" type="text/javascript"></script>
<script src="../updater.js" type="text/javascript"></script>

    
  </body>
</html>